*{
    margin: 0;
    padding: 0;
}

.logo__login{
    width: 48px;
}

.logo__facebook{
    width: 32px;
}

.logo__google{
    width: 32px;
}

/* imagen portada */

.img__portada{
    width: max-content;
    height: max-content;
}

body{
    background: #2c73d2;
    background-image: radial-gradient(circle, #4b4b4b, #5d6167, #697a81, #759495, #8aaea1);
}

.bodyRegistrarse{
    padding-left: 25%;
    padding-right: 25%;

}